@model SimpleBlog.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
   @Html.ValidationSummary()
    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(X => X.Username)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(X => X.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}
